.delete {
    cursor: pointer;
    height: 30px;
    width: 30px;
    top: 15px;
    position: absolute;
    right: 0;
    margin-right: 15px;
}

.title {
    display: inline-block;
    width:400px;
}

.author {
    display: inline-block;
    width:200px;
    font-size: 14px;
    color: #4e555b;
}

