.player-page {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.player-page .caption {
    font-size: 16px;
    color: rgb(47,152,66)
}

.player-page .music-title {
    font-size: 25px;
    font-weight: 400;
    color: rgb(3,3,3);
    height: 36px;
    line-height: 36px;
}

.player-page .music-article {
    font-size: 14px;
    font-weight: 400;
    color: rgb(74,74,74)
}

.player-page .cover {
    width: 160px;
    height: 160px;
}

.player-page .cover img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.player-page .volume-controller .volume {
    margin-top: 5px;
}

.player-page .volume-controller .volume-progress{
    margin-left: -12px;
    margin-top: 10px;
}

.player-page .progress-bar {
    height: 8px;
    line-height: 8px;
}

.player-page .cover .play {
    animation:rotate 20s linear infinite;
}
.player-page  .cover .pause{
    animation-play-state: paused;
}

@keyframes rotate {
    from { transform: rotate(0deg) }
    to {
        transform: rotate(360deg);
    }
}

.player-page .clric {
    height: 300px;
    right:0;
    overflow:hidden;
    text-align:center;
}

/*图标*/
.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(images/icons.png) no-repeat;
    background-size: 32px auto;
}
.icon.prev {
    background-position: 0 0;
}
.icon.next {
    background-position: 0 -32px;
}
.icon.pause {
    background-position: 0 -64px;
}
.icon.play {
    background-position: 0 -96px;
}
.icon.repeat-once {
    background-position: 0 -128px;
}
.icon.repeat-cycle {
    background-position: 0 -160px;
}
.icon.repeat-random {
    background-position: 0 -192px;
}
.icon-volume {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/icons.png) no-repeat;
    background-size: 16px auto;
    background-position: 0 -112px;
}
